
.news__item {
    font-family: 'Roboto', sans-serif;
    width: 60%;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

p {
    text-align: center;
}

a {
    text-decoration: none;

}